@model IEnumerable<MySuperMarket.Models.SUPPLIER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SUPPLIER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE_NUMBER)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SUPPLIER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE_NUMBER)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SUPPLIER_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SUPPLIER_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SUPPLIER_ID })
        </td>
    </tr>
}

</table>
