@model IEnumerable<MySuperMarket.Models.SUPPORT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SUPPORT_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INCOME.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPONSOR.SPONSOR_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SUPPORT_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INCOME.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPONSOR.SPONSOR_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
