@model IEnumerable<MySuperMarket.Models.VIP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CREDITS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIP_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.EMPLOYEE_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CREDITS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIP_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.EMPLOYEE_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VIP_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VIP_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VIP_ID })
        </td>
    </tr>
}

</table>
