@model MySuperMarket.Models.STOCK

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>STOCK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STOCK_NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCK_NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOCK_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCK_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPENSE.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPENSE.TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLAN.PRODUCT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLAN.PRODUCT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.PRODUCT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.PRODUCT_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
