@model IEnumerable<MySuperMarket.Models.PRODUCT_ATTRIBUTE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PURCHASE_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SELL_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUPPLIER.SUPPLIER_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PURCHASE_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SELL_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUPPLIER.SUPPLIER_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PRODUCT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PRODUCT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PRODUCT_ID })
        </td>
    </tr>
}

</table>
